<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apriori</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
</head>

<body class="bg-primary" style="height: 1100px;">
    <div class="bg-primary text-danger position-relative" style="width: 100%; height:100%">

        <div class="p-3 mb-2 bg-light text-dark position-absolute top-50 start-50 translate-middle rounded"
            style="height: 90%; width: 75%;">
            <img src="/static/images/logo.jpg" alt="logo" style="width: 20%;float: right;">
        </div>
        <div class="position-absolute top-50 start-50 translate-middle">
            <div class="text-center text-secondary mb-4">
                <h1>Algoritma Apriori</h1>
                <p>Oleh : M Rizdky Maulady</p>
                <p>PT. Tuju Nata Persada</p>
            </div>
            <form action="/proses" method="POST" enctype="multipart/form-data">
                <div class="text-center text-secondary mb-4">
                    <p class="fs-5">Minimum Support : </p>
                    <input class="rounded-5 p-3 border border-secondary" placeholder="Masukan Nilai Minimum Support..."
                        style="width: 350px; height: 40px;" step=".0001" type="number" name="support" id="sup">
                </div>
                <div class="text-center text-secondary mb-4">
                    <p class="fs-5">Minimum Confidence : </p>
                    <input class="rounded-5 p-3 border border-secondary"
                        placeholder="Masukan Nilai Minimum Confidence..." style="width: 350px; height: 40px;"
                        step=".0001" type="number" name="confidence" id="conf">
                </div>
                <div class="text-center text-secondary mb-4">
                    <p class="fs-5">Nilai lift : </p>
                    <input class="rounded-5 p-3 border border-secondary" placeholder="Masukan Nilai Minimum Lift..."
                        style="width: 350px; height: 40px;" step=".0001" type="number" name="lift" id="lift">
                </div>
                <div class="text-center text-secondary mb-4">
                    <p class="fs-5">Periode : </p>
                    <input class="rounded-5 p-3 border border-secondary text-secondary" type="date" name="startDate"
                        id="startDate">
                    <input class="rounded-5 p-3 border border-secondary text-secondary" type="date" name="endDate"
                        id="endDate">
                </div>
                <div class="text-center text-secondary mb-4">
                    <p class="fs-5">Unggah File Dataset</p>
                    <input class="border border-secondary" style="width: 350px;" type="file" name="file" id="file">
                </div>
                <div class="text-center">
                    <button id="submit" class="btn btn-primary rounded-5" style="width: 350px;" type="submit">Proses
                        Data</button>
                </div>
            </form>
        </div>
        <!-- </div> -->

    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
        </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>
        Swal.fire({
            title: "Warning!!",
            // success , error , warning ,info

            text: "{{ message }}",
            // Custom message flashed from your flask routes

            icon: "warning"
            // success , error , warning ,info
        })
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <script>
        const submitButton = document.getElementById('submit');

        submitButton.addEventListener('click', () => {
            const support = document.getElementById('sup').value;
            const confidence = document.getElementById('conf').value;
            const lift = document.getElementById('lift').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;
            const file = document.getElementById('file').value;

            if (support == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "Minimum Support tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }
            else if (confidence == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "Minimum Confidence tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }
            else if (lift == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "Nilai Lift tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }
            else if (startDate == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "Tanggal tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }
            else if (endDate == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "Tanggal tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }
            else if (file == '') {
                Swal.fire({
                    title: "Warning!!",
                    text: "File tidak boleh kosong!",
                    icon: "warning"
                })
                event.preventDefault();

            }

        })

        const isLoggedIn = sessionStorage.getItem('isLoggedIn');

        if (!isLoggedIn) {
            while (true) {
                var userName = prompt("Username", "");
                var passWord = prompt("Password", "");

                if (userName === "admin" && passWord === "12345") {
                    alert("Hak Akses Diberikan!");
                    sessionStorage.setItem('isLoggedIn', 'true'); // Set the status to logged in
                    break;
                }
                alert("Username atau Password Salah!");
            }
        }
    </script>
</body>

</html>